services:
  course-service:
    build:
      context: ./course-service
    container_name: course-service
    ports:
      - "3000:3000"
    env_file:
      - ./course-service/.env
    restart: unless-stopped
    depends_on:
      - course-db

  course-db:
    image: mongo:7
    container_name: course-db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
    - course_db_data:/data/db
    restart: unless-stopped

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express-course
    environment:
      ME_CONFIG_MONGODB_SERVER: course-db
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin123
    ports:
      - "8081:8081"
    restart: unless-stopped
    depends_on:
      - course-db

  enrollment-service:
    build:
      context: ./enrollment-service
    container_name: enrollment-service
    ports:
      - "3002:8000"
    env_file:
      - ./enrollment-service/.env
    depends_on:
      - postgres-enrollment
      - course-service

  postgres-enrollment:
    image: postgres:16
    container_name: postgres-enrollment
    environment:
      POSTGRES_DB: enrollment_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_enrollment_data:/var/lib/postgresql/data


volumes:
  course_db_data:
  pg_enrollment_data: