services:
  # 1. COURSE SERVICE (NODE.JS + MONGODB)
  course-service:
    build:
      context: ./course-service
    container_name: course-service
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=${MONGO_URI_STRING}
      - PORT=3000
    env_file:
      - ./course-service/.env
    restart: unless-stopped
    depends_on:
      - course-db
    networks:
      - app-network

  course-db:
    image: mongo:7
    container_name: course-db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - course_db_data:/data/db
    restart: unless-stopped
    networks:
      - app-network

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express-course
    environment:
      ME_CONFIG_MONGODB_SERVER: course-db
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin123
    ports:
      - "8082:8081"
    restart: unless-stopped
    depends_on:
      - course-db
    networks:
      - app-network

  # 2. USER SERVICE (PHP + MySQL)
  app:
    build:
      context: ./user-service/docker/php
    container_name: user_service_app
    working_dir: /var/www/html
    volumes:
      - ./user-service/src:/var/www/html
    env_file:
      - ./user-service/.env
    depends_on:
      - db
    networks:
      - app-network

  web:
    image: nginx:alpine
    container_name: user_service_web
    ports:
      - "8080:80"
    volumes:
      - ./user-service/src:/var/www/html
      - ./user-service/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: user_service_db
    environment:
      MYSQL_DATABASE: user_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - user_db_data:/var/lib/mysql
      - ./user-service/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: user_service_pma
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db
    networks:
      - app-network

  # 3. ENROLLMENT SERVICE
  enrollment-service:
    build:
      context: ./enrollment-service
    container_name: enrollment-service
    ports:
      - "3002:8000"
    env_file:
      - ./enrollment-service/.env
    depends_on:
      - postgres-enrollment
      - course-service
    networks:
      - app-network

  postgres-enrollment:
    image: postgres:16
    container_name: postgres-enrollment
    environment:
      POSTGRES_DB: enrollment_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_enrollment_data:/var/lib/postgresql/data
    networks:
      - app-network

  # ===============================
  # 4. REVIEW SERVICE (GOLANG + REDIS)
  # ===============================
  review-service:
    build: ./review-service
    container_name: review-service
    ports:
      - "3003:8080"
    environment:
      - REDIS_ADDR=review-redis:6379
    depends_on:
      - review-redis
    networks:
      - app-network

  review-redis:
    image: redis:7
    container_name: review-redis
    networks:
      - app-network

volumes:
  course_db_data:
  pg_enrollment_data:
  user_db_data:

networks:
  app-network:
    driver: bridge
